* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: sans-serif;
	background-color: #f5f5f5;
}

code {
	display: inline-block;
	font-family: Consolas, 'Courier New', Courier, monospace;
	color: crimson;
	border: 2px dashed #c1c1c1;
	background-color: #f1f1f1;
	margin-top: 2px;
	padding: 2px;
}
